# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
frontend/node_modules/
frontend/build/
frontend/.cache/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Other
*.zip
*.tar
*.tar.gz
*.log
*.dll
*.lib
*.exe
